YOLO_experimentation
yolo_files/yolov3.weights
yolo_experimentation_venv
sam_files
yolo_pretrained_env
yolov3_weights.pt
yolov5
preprocess_venv
initial_pipeline/__pycache__
initial_pipeline/object_detection/yolo_pretrained/__pycache__
initial_pipeline/segmentation/sam/__pycache__
initial_pipeline/segmentation/soma_segmentation/__pycache__
initial_pipeline/morphology/__pycache__
tiles/slide_3_test
initial_pipeline/segmentation/custom_segmentation/__pycache__
initial_pipeline/segmentation/custom_segmentation/checkpoints
AnnotationsData
segmentation_venv
initial_pipeline/segmentation/custom_segmentation/random_disconnections/__pycache__
initial_pipeline/segmentation/custom_segmentation/training/__pycache__
runs
YOLO_dataset
initial_pipeline/object_detection/custom_detection/yolo_runs
YOLO_adjusted_dataset
YOLO_dataset.zip
YOLO_dataset_original
YOLO_dataset_adjusted
initial_pipeline/object_detection/custom_detection/rat_yolo_dataset
YOLO_dataset_rat
YOLO_rat_adjusted_1
YOLO_dataset_rat.zip
YOLO_dataset_adjusted_gray
YOLO_rat_adjusted_1_gray
tiles
initial_pipeline/segmentation/segmentation_output
All_scans_tiled_subset
YOLO_dataset_adjusted_1
YOLO_dataset_adjusted_2
AnnotationsData_Adjusted
initial_pipeline/segmentation/custom_segmentation/mask_quality_summary.csv
YOLO_rat_adjusted_2
YOLO_rat_adjusted_2_split
initial_pipeline/object_detection/object_detection_output
initial_pipeline/object_detection/custom_detection/yolo_good_runs
YOLO_rat_adjusted_2_split_with_blue
YOLO_rat_adjusted_2_with_blue
YOLO_rat_adjusted_2_split_with_blue_normalized
AnnotationsData_Adjusted_WithSoma
AnnotationsDataFreshExport
initial_pipeline/segmentation/custom_segmentation/debug_output
All_scans_tiled_subset_GM
initial_pipeline/object_detection/custom_detection/object_detection_output
initial_pipeline/object_detection/custom_detection/cv_runs
initial_pipeline/object_detection/custom_detection/yolo_runs_transfer
initial_pipeline/object_detection/custom_detection/__pycache__
full_pipeline_venv
