YOLO_experimentation
yolo_files/yolov3.weights
yolo_experimentation_venv
sam_files
yolo_pretrained_env
yolov3_weights.pt
yolov5
preprocess_venv
initial_pipeline/__pycache__
initial_pipeline/object_detection/yolo_pretrained/__pycache__
initial_pipeline/segmentation/sam/__pycache__
initial_pipeline/segmentation/soma_segmentation/__pycache__
initial_pipeline/morphology/__pycache__
tiles/slide_3_test
initial_pipeline/segmentation/custom_segmentation/__pycache__
initial_pipeline/segmentation/custom_segmentation/checkpoints
AnnotationsData
segmentation_venv
initial_pipeline/segmentation/custom_segmentation/random_disconnections/__pycache__
initial_pipeline/segmentation/custom_segmentation/training/__pycache__
runs
YOLO_dataset
initial_pipeline/object_detection/custom_detection/yolo_runs
YOLO_adjusted_dataset
YOLO_dataset.zip
YOLO_dataset_original
YOLO_dataset_adjusted
initial_pipeline/object_detection/custom_detection/rat_yolo_dataset
